* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
}

.loading::after {
    content: "";
    font-weight: 600;
    font-size: 150px;
    color: rgb(255, 255, 255);
    animation-name: text;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

@keyframes text{   
    0%   {content: "L";}
    10%  {content: "Lo";}
    20%  {content: "Loa";}
    30%  {content: "Load";}
    40%  {content: "Loadi";}
    50%  {content: "Loadin";}
    60%  {content: "Loading";}
    70%  {content: "Loading.";}
    80%  {content: "Loading..";}
    90%  {content: "Loading...";}
    100% {content: "Loading....";}
}