*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    
}
.box{
    padding: 20px;
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: red;
    border: 5px solid black;
    resize: both;
}